body {
	font-family: 'Cabin Sketch', cursive;
}

textarea {
	font-family: 'monospace';
	width: 400px;
	height: 400px;
}

#graphviz_code, #svg_container {
	display: none;
}

container {
	display: flex;
}

div {
	flex: 0 1;
}

a {
	color: #999;
}